.contaner-fluid.border.border-1#firstBlockRegister.p-0.m-0
  .container.border.border-1.rounded.border-dark.p-4#secondBlockRegister
    %h2.border-bottom#textRegister Registration
    = render 'form'
