body{
  background-color: #fafafa !important;
}
#total-cart{
  color: #ee4d2d !important;
}

#btn-check-out{
  background-color:#ee4d2d;
  color:white;
  border-color:#ee4d2d;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
}
