// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#firstBlockRegisterStore{
  height: 88vh;
  background-image: linear-gradient(45deg, #FF5A00, #FFAE00);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
}
