#block-info-shop{
  background-color: white !important;
}

#shop-container-fluid{
  background-color: #fafafa !important;
}
#div-profile-otherShop{
  background-color: rgba(0,0,0,0.45)!important;
  border-radius: 10px;
}

.detail-profile-othershop{
  color:#0088ff;
}

.value-detail-profile-othershop{
  color:#ee4d2d !important;
}
.label-detail-profile-otherShop{
  color:black;
}
#detail-product-otherShop{
  background-color: white !important;
}
