#body-show-product{
  background-color: #fafafa !important;
}
#detail-all-product{
  background-color: white !important;
}


#span-product-rating{
  border-right: 1px solid #E0E0E0 ;
}

#detail-product-show-product{
  border-left: 1px solid #E0E0E0 ;
  padding-left:1.3rem;
}
#price-show-product{
  color:#ee4d2d;
  background-color:#fafafa;

}
.btn-add-cart{
  background: #ee4d2d;
  color :white;
  border:1px solid orange;
}
.btn-add-cart:hover{
  color:white;

}
